<form action="/user/add" method="post">
  <input id="id" name="id" type="hidden" />
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="username" />
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password" />
  </div>
  <div class="form-group">
    <label for="mail">mail</label>
    <input type="email" class="form-control" id="mail" name="mail" placeholder="mail" />
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>