<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Exampe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <div class="pure-g-r">
      <div class="header pure-u-1">
          <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
              <a class="pure-menu-heading" href="/">Example</a>

              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about">About</a></li>
              </ul>
          </div>
      </div>

        <div class="container pure-u">
          <%= yield %>
        </div>
    </div>

    <!-- Le javascript -->
  </body>
</html>